* {
  box-sizing: border-box
}

body {
  margin: 0;
  background-color: #ecf0f1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.calculator {
  background-color: #111;
  box-shadow: 2px 2px 5px rgba(0,0,0,1);
  height: 390px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;

  padding: 5px;
  border-radius: 3%;
}

.display {
  background-color: 111;
  padding: 20px 10px;
  text-align: right;
  position: relative;
  width: 100%;
  font-size: 36px;
  color: white;
  height: 70px ;
}

.display small {
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #EE9406;
}
.nums-container {
  width: 75%;
}

.ops-container {
  width: 25%;
}
button {
  border-radius: 50%;
  margin: 5px;
  height: 50px;
  width: 50px;
  font-size: 24px;
  background-color: white;
  border: none;
  cursor: pointer;
}

button.hover {
  opacity: 0.9;
}
button:active {
  transform:scale(0.9)
}
button:focus {
  outline: none;
}

button.big-v {
  border-radius: 50px;
  height: 110px;
}
button.big-h {
  border-radius: 50px;
  width: 110px;
}

button.orange {
  background-color: #EE9406;
  color: #fff;
}

button.dark-grey {
  background-color: #323232;
  color: #fff;
}
button.light-grey{
  background-color: #A5A5A5;
  color: #fff;
}

button.ac {
  margin-right: 50%;
}